<div class="filter">
    <div class="filter__input">
        <input type="text class=" placeholder="Tìm theo mã sinh viên" filter__input-search">
    </div>
    <div class="filter__sort">
        <div class="filter__sort-point">
            <div class="filter__sort-point-title">
                Điểm
            </div>
            <div class="filter__sort-point-icon">
                <i class="icofont-simple-down"></i>
            </div>
            <ul class="filter__sort-point-absolute">
                <li class="filter__sort-point-absolute_items">
                    Sắp xếp tăng dần
                </li>
                <li class="filter__sort-point-absolute_items">
                    Sắp xếp giảm dần
                </li>
            </ul>
        </div>
    </div>
</div>